n8n.bot.masivos.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "masivos-canaco",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -848,
        1024
      ],
      "id": "6b8f8e4b-ea1a-43df-b20a-16d169671f4c",
      "name": "Webhook2",
      "webhookId": "17d6cde8-5492-40b6-a8fa-31257e0a15d7"
    },
    {
      "parameters": {
        "fieldToSplitOut": "body.contactos",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -672,
        1024
      ],
      "id": "7d2c379f-429e-4684-b863-83bdad787bea",
      "name": "Split Out"
    },
    {
      "parameters": {
        "method": "=POST",
        "url": "https://graph.facebook.com/v20.0/1243000428885636/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAVpSGfz9ewBR25fLGOzZBjAAlCXRG5Ozi8tgJ3T6oeP8DMWkZAzX6Yj3KUZATeLUxBVYJ4XLiYn1iFUFZC7ZAmZCOwGtHooysWYzu1T3V19JOcr8IPqraONRfxjB8lhMBMt60UrtJFfwKdXyu69YsqOII6JbOw44ZA5IQhfsnuxwUZAtxHLVl35D76e1sZCZBKhYZCsAZDZD"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"{{ $json[\"body.contactos\"].telefono }}\",\n  \"type\": \"template\",\n  \"template\": {\n    \"name\": \"{{ $('Webhook2').item.json.body.plantilla }}\",\n    \"language\": {\n      \"code\": \"{{ $('Webhook2').item.json.body.idioma }}\"\n    },\n    \"components\": {{ JSON.stringify($json[\"body.contactos\"].componentes) }}\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -480,
        1024
      ],
      "id": "0ee8c584-4818-4fb8-a55f-5fdf31037bd0",
      "name": "HTTP Request15*"
    }
  ],
  "connections": {
    "Webhook2": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "HTTP Request15*",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "3da69176dde7ed764e713a7f48c340ee98bdd619d3c5a68a96333eb1ae50b95c"
  }
}