n8n.bot.recibir.json
{
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "masivos",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                -768,
                976
            ],
            "id": "2faadc4d-2382-4956-a7eb-d4a78e8812d1",
            "name": "Webhook2",
            "webhookId": "17d6cde8-5492-40b6-a8fa-31257e0a15d7"
        },
        {
            "parameters": {
                "fieldToSplitOut": "body.contactos",
                "include": "allOtherFields",
                "options": {}
            },
            "type": "n8n-nodes-base.splitOut",
            "typeVersion": 1,
            "position": [
                -592,
                976
            ],
            "id": "e0b252e0-7a53-4bef-8e23-73594edf477b",
            "name": "Split Out"
        },
        {
            "parameters": {
                "method": "=POST",
                "url": "https://graph.facebook.com/v20.0/1100350699820165/messages",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer EAANR6oYzHecBRNZBMTiWf4RZCYnrZANT2toPMkogPHaboIC4TdgHTnVbYngXnfREzDZCdNSUm3LJqyA82QCnaTmFykUcAlRiQV2UspOi6P02hfHPoJMRGl6eLAUaAE6T9QjQMIS5KDo6qwGs3ATPUG8zzlzbZArg9JSoPOXwJyqzotGS4lPSNA0FaQTpMfQZDZD"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"{{ $json[\"body.contactos\"].telefono }}\",\n  \"type\": \"template\",\n  \"template\": {\n    \"name\": \"{{ $('Webhook2').item.json.body.plantilla }}\",\n    \"language\": {\n      \"code\": \"{{ $('Webhook2').item.json.body.idioma }}\"\n    },\n    \"components\": [\n      {\n        \"type\": \"body\",\n        \"parameters\": {{ JSON.stringify($('Webhook2').item.json.body.parametrosBody) }}\n      }\n    ]\n  }\n}",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.4,
            "position": [
                -400,
                976
            ],
            "id": "46ce197f-b249-4ecf-8b81-4c2a7cf70cf6",
            "name": "HTTP Request15*"
        }
    ],
    "connections": {
        "Webhook2": {
            "main": [
                [
                    {
                        "node": "Split Out",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Split Out": {
            "main": [
                [
                    {
                        "node": "HTTP Request15*",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "meta": {
        "instanceId": "3da69176dde7ed764e713a7f48c340ee98bdd619d3c5a68a96333eb1ae50b95c"
    }
}